## 注释行，将被忽略 
## busiLine: 业务线
## settleDate: 账期日(格式:yyyyMMdd)
## fileCore_ftpConf,bossFront_ftpConf:FTP配置信息
## fileProcessingRules: 不同来源文件处理时特有规则
##      ftpConfig:FTP引用 
##      dataSource: 文件来源，如 boss,merchant,upay
##      skipChekSign:验签(加签)开关
##      rule:文件匹配规则     
##      tableName : 文件入库表名
##      tableNameDsc : 表名注释
##      partitionSwith : 是否分区(1:分区,0:不分区)
##      partitionType : 分区周期
##      dataSourceType: 数据库源mysql或者oracle
##      dataSourceName: 多数据源配置项,当不配置时,默认值为mysqlDefaultDb
##		deleteByPartitionFlag：是否按照分区来删除旧数据(open:是,close:否)
##      executeSql:oralce数据库需要执行的sql语句
##      columnHander:文件列头
##      downloadPath : 文件来源ftp下载路径
##      inputFileLocalPath: 文件来源放在本地的路径
##      outputFileLocalPath: 输出文件放在本地的路径
##      uploadPath: 文件来源筛选后上发到指定的ftp路径
##      signType: 签名类型
##      cer_id: 证书ID
##      fileNameCsv: csv文件名命名规则
##      fileNameChkCsv: chk.csv文件名命名规则
##      fileNameCsv: csv文件名命名规则
##      fileNameCsv: csv文件名命名规则
##		fileLine:单份文件数据行数
##	    readSize:单次读取数据大小

## 	0055导出文件的配置是没有区分差异内容的支付机构的，存储的时候是不同文件入到同一个表
{
   "fileCore_ftpConf":{
        "protocol":"sftp",
		"hostname": "192.168.31.16",
		"port": "22",
		"username": "upaysftp",
		"password": "ENC(C4B6FA224A9E21A645FF13A1D5AFD452)",
		"ftpLocalMode": "PASV",
		"bufferSize": "1000480"
	},
   "bossFront_ftpConf":{
        "protocol":"sftp",
		"hostname": "192.168.31.16",
		"port": "22",
		"username": "upaysftp",
		"password": "ENC(C4B6FA224A9E21A645FF13A1D5AFD452)",
		"ftpLocalMode": "PASV",
		"bufferSize": "1000480"
	},
   "incomingFileProcessingRules":[
		               {
		                "ftpConfig":"fileCore_ftpConf",
		                "dataSource": "payAgent/jkpay",
		                "skipChekSign":"close",
		                "rule":"jkpay.CMCC",
		                "tableName" : "BL_0055_ACC_ORI_JKPAY",
		                "tableNameDsc" : "金科数据表",
		                "partitionSwith" : "1",
		                "partitionType" : "day",
		                "dataSourceType":"mysql",
						"dataSourceName":"mysql-Db-B",
		                "deleteByPartitionFlag":"open",
		                "executeSql":"",
		                "columnHander":"",
				        "downloadPath" : "/backup/#{busiLine}/#{settleDate}/incoming/#{dataSource}/recentFiles",
				        "inputFileLocalPath" : "/backup/#{busiLine}/#{settleDate}/incoming/#{dataSource}/recentFiles"
		               },{
		                "ftpConfig":"fileCore_ftpConf",
		                "dataSource": "upay",
		                "skipChekSign":"close",
		                "rule": "upay.CMCC",
		                "tableName" : "BL_0055_ACC_ORI_UPAY",
		                "tableNameDsc" : "统一支付数据表",
		                "partitionSwith" : "1",
		                "partitionType" : "day",
		                "dataSourceType":"mysql",
						"dataSourceName":"mysql-Db-B",
		                "deleteByPartitionFlag":"open",
		                "executeSql":"",
		                "columnHander":"",
				        "downloadPath" : "/backup/#{busiLine}/#{settleDate}/incoming/#{dataSource}/recentFiles",
				        "inputFileLocalPath" : "/backup/#{busiLine}/#{settleDate}/incoming/#{dataSource}/recentFiles"
		               },{
		                "ftpConfig":  "fileCore_ftpConf",
		                "dataSource": "",
		                "skipChekSign":"close",
		                "rule": "payAgent_upay_dataCompletion",
		                "tableName" : "BL_0055_ACC_COM_PAYAGENT_UPAY",
		                "tableNameDsc" : "PAYAGENT_UPAY数据补全表",
		                "partitionSwith" : "1",
		                "partitionType" : "day",
		                "dataSourceType":"mysql",
						"dataSourceName":"mysql-Db-B",
		                "deleteByPartitionFlag":"open",
		                "executeSql":"",
		                "columnHander":"",		                
				        "downloadPath" : "/completion_to_fileCore/#{busiLine}/#{settleDate}/recentFiles",
				        "inputFileLocalPath" : "/completion_to_fileCore/#{busiLine}/#{settleDate}/recentFiles"
		               },{
		                "ftpConfig":  "fileCore_ftpConf",
		                "dataSource": "merchant",
		                "skipChekSign":"close",
		                "rule": "CMCC.0055",
		                "tableName" : "CMSC_PAY_DIFF_DATA",
		                "tableNameDsc" : "移动商城纯支付差异明细表",
		                "partitionSwith" : "1",
		                "partitionType" : "day",
		                "dataSourceType":"oracle",
		                "executeSql":"insert into CMSC_PAY_DIFF_DATA(ORDER_NO,PAYMENT,GIFT,REQ_CHANNEL,PAYMENT_TYPE,ID_TYPE,ID_VALUE,PRODUCT_ID,PRODUCT_NAME,CUSTOM_PARAM,DIFF_TYPE,SETTLE_DATE,IS_REFUND,THEAREACODEFORTHEBUSINESSHALL,THECODEOFTHEBUSINESSHALL,THECODEOFTHEBUSINESSHALLWINDOW,THECODEOFTERMINAL,THECODEOFCLERK,BUSI_TYPE,SERVICE_FEE,CARD_TYPE,PAYMENT_AGENT,PAYMENT_MODE,MCH_ID,PAY_TRANS,SERVICE_FEE_RATIO,PAY_DATE_TIME,EXTRA_PARAMS)  values (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",
		                "columnHander":"OrderNo,Payment,Gift,ReqChannel,PaymentType,IdType,IdValue,ProductId,ProductName,CustomParam,DiffType,SettleDate,IsRefund,BusinessHallAreaCode,BusinessHallCode,BusinessHallWindowCode,TerminalCode,ClerkCode,BusinessType,ServiceFee,CardType,PaymentAgent,PaymentMode,MchId,PayTrans,ServiceFeeRatio,PayDateTime,ExtraParams",
				        "downloadPath":"/backup/#{busiLine}/#{settleDate}/outgoing/#{dataSource}/recentFiles",
				        "inputFileLocalPath":"/backup/#{busiLine}/#{settleDate}/outgoing/#{dataSource}/recentFiles"
		               },{
                        "ftpConfig":  "fileCore_ftpConf",
                        "dataSource": "",
                        "skipChekSign":"close",
                        "rule":"dataCompletion_statistics",
                        "tableName" : "TOTAL_COM_STATISTICS",
                        "tableNameDsc" : "对账统计表",
                        "partitionSwith" : "1",
                        "partitionType" : "day",
                        "dataSourceType":"mysql",
                        "deleteByPartitionFlag":"open",
                        "executeSql":"",
                        "columnHander":"",
                        "downloadPath" : "/completion_to_fileCore/#{busiLine}/#{settleDate}/statistics/recentFiles",
                        "inputFileLocalPath" : "/completion_to_fileCore/#{busiLine}/#{settleDate}/statistics/recentFiles"
                      }],    
   "outgoingFileProcessingRules": [{
			        "ftpConfig":  "fileCore_ftpConf",
			        "dataSource": "payAgent/jkpay",
			        "skipChekSign":"open",
			        "signType":"SHA1",
			        "cer_id": "56445F07",
			        "tableName" : "BL_0055_ACC_ORI_JKPAY",
			        "tableAlias":"ACC.ORI.JKPAY",
			        "outputFileLocalPath" : "/backup/#{busiLine}/#{settleDate}/incoming/#{dataSource}/recentFiles",
			        "uploadPath" : "/testFile/backup/#{busiLine}/#{settleDate}/incoming/#{dataSource}/recentFiles",
			        "fileNameCsv" : "#{busiLine}_#{settleDate}#{fileNumber}.jkpay.CMCC.csv",
			        "fileNameChkCsv" : "#{busiLine}_#{settleDate}#{fileNumber}.jkpay.CMCC.chk.csv",
			        "fileLine" : "1000",
			        "readSize" : "100"    
			      },{
			        "ftpConfig":  "fileCore_ftpConf",
			        "dataSource": "upay",
			        "skipChekSign":"open",
			        "signType":"SHA1",
			        "cer_id": "56445F07",
			        "tableName" : "BL_0055_ACC_ORI_UPAY",
			        "tableAlias": "ACC.ORI.UPAY",
			        "outputFileLocalPath" : "/backup/#{busiLine}/#{settleDate}/incoming/#{dataSource}/recentFiles",
			        "uploadPath" : "/testFile/backup/#{busiLine}/#{settleDate}/incoming/#{dataSource}/recentFiles",
			        "fileNameCsv" : "#{busiLine}_#{settleDate}#{fileNumber}.upay.CMCC.csv",
			        "fileNameChkCsv" : "#{busiLine}_#{settleDate}#{fileNumber}.upay.CMCC.chk.csv",
			        "fileLine" : "1000",
			        "readSize" : "100"    
			      },{
		               "ftpConfig":  "fileCore_ftpConf",
		               "dataSource": "",
		               "skipChekSign": "open",
		               "signType":"SHA1", 
			           "cer_id": "56445F07",
				       "tableName" : "BL_0055_ACC_COM_PAYAGENT_UPAY",
				       "tableAlias":"ACC.COM.PAYAGENT.UPAY",
				       "outputFileLocalPath" : "/completion_to_fileCore/#{busiLine}/#{settleDate}/recentFiles",
				       "uploadPath" : "/testFile/completion_to_fileCore/#{busiLine}/#{settleDate}/recentFiles",
				       "fileNameCsv" : "#{busiLine}_#{settleDate}_payAgent_upay_dataCompletion_#{fileNumber}.csv",
				       "fileNameChkCsv" : "DATA_COMPLETION_#{settleDate}_#{busiLine}.CMCC.CHK.csv",
				       "fileLine" : "1000",
				       "readSize" : "100"
		             },{
		                "ftpConfig":  "fileCore_ftpConf",
		                "dataSource": "merchant",
		                "skipChekSign":"open",
		                "signType":"SHA1withRSA",
			            "cer_id": "56445F07",
				        "tableName" : "BL_0055_ACC_DIF_MERCHANT",
				        "tableAlias":"ACC.DIF.MERCHANT",
				        "outputFileLocalPath" : "/backup/#{busiLine}/#{settleDate}/outgoing/#{dataSource}/recentFiles",
				        "uploadPath" : "/testFile/backup/#{busiLine}/#{settleDate}/outgoing/#{dataSource}/recentFiles",
				        "fileNameCsv" : "DIFF#{settleDate}#{fileNumber}.CMCC.#{busiLine}-MERCHANT.csv",
				        "fileNameChkCsv" : "DIFF#{settleDate}.CMCC.#{busiLine}.CHK.csv",
				        "fileLine" : "1000",
				        "readSize" : "100"
		             }]		               
}


